@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
#title {
  width: 70%;
  padding-left: 5%;
  font-family: "Poppins", sans-serif;
}

a {
  text-transform: lowercase;
  text-decoration: none;
  color: white;
}
#toolbar {
  padding: 0px 0px 0px 0px;
}
#buttons {
  display: flex;
}
#nav-btn {
  padding-right: 2vw !important;
}

.App {
  font-family: Poppins;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
#main {
  background: linear-gradient(90deg, #00000000, #00000075);
  padding-top: 20vh;
  min-height: 100%;
  min-width: 100%;
}
#home-main {
  text-align: center;
}

#hamburger {
  display: none;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 4vh;
}

#home,
#yt,
#gh,
#twi {
  height: 100vh;
  padding: 0;
  color: white;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#home {
  background-image: url("./home-bg.jpg");
}
#twi {
  background-image: url("./home-bg.jpg");
}
#yt {
  background-image: url("./home-bg.jpg");
}
#gh {
  background-image: url("./home-bg.jpg");
}
html,
body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

* {
  font-family: "DM Sans", sans-serif;
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbottom {
  display: none;
}

@media only screen and (max-width: 570px) {
  * {
    font-family: "DM Sans", sans-serif;
    font-size: smaller;
  }
  h1 {
    font-size: 4vh;
  }

  h2 {
    margin: 1vh;
    font-size: 3vh;
  }
  #nav-btn {
    padding-right: 5vw !important;
  }
  #buttons {
    display: none;
  }

  .navbottom {
    display: block;
    margin-top: 5vh;
  }
}
